body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;

}

h1, h2, h3{
    font-weight: bolder;
    margin: 4px;
}